@font-face{
    font-family: bluearchive;
    src:url(Archive/Archive.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Delicious+Handrawn&family=Handlee&display=swap');

body {
    margin: 0;
    padding: 0;
}

#hbd {
    font-family: bluearchive;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin-top: 100px;
}

#timer{
    font-size: 45px;
    font-family: "Caveat", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    padding: 0;
}
#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    font-family: bluearchive;
    font-weight: 300;
    background-color: black;
    border: none;
    height: 30px;
    border: 1px solid black;
    color: black;
    cursor: pointer ;
    transition: .3s ease;
    margin-top: 40px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, .5);
}
.btn-white-background {
    background-color: white;
    color: black; /* Adjust text color if needed for contrast */
}
#btn:hover{
    font-size: 2rem;    
    transition: .3s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity .5s ease;
}

#hoshino {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: none;
    margin-bottom: 100px;
}

#hbd {
    display: none;
}
@media (max-width: 768px) {
    #heading {
        font-size: 3rem;
    }
    #btn {
        width: 60%;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #heading {
        font-size: 1.5rem;
    }
}

